/* Estilos para la tabla */

html{
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: var(--grisClaro);
    height:100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1rem equivaldria a 10px*/
    font-family: var(--fuente2);
    margin: 0;
   padding: 0;
}

header{
    font-family: var(--fuente1);
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 3.8rem;
}

h3{
    font-size: 2.8rem;
}

h1,h2,h3{
    text-align: center;
    margin: auto ;
}

img{
    max-width: 100%;
}
.Tabla {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse;
}

.Tabla th, .Tabla td {
    border: 1px solid black; 
    padding: 10px; 
    text-align: left; 
    background-color: beige;
}

.Tabla th {
    background-color: navajowhite ; 
}

.Tabla input[type="image"] {
    width: 20px;
    height: 20px;
     cursor: pointer; 
    vertical-align: middle;
}

/* Estilos para el enlace  */
a {
    display: block;
    margin-top: 20px; 
    text-align: center; 
    color: #555; 
    text-decoration: none; 
}
body {
 background-image: url('img/wood-591631_1920.jpg'); 
}
button {
    background-color: #555; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    border: none; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
    margin: 0 auto; 
    display: block;
}

button:hover {
    background-color: #45a049; 
}